
.navbar-light .navbar-nav .nav-link {
    color: black;
}

@media (min-width: 992px) {
    .bg-light {
        padding-left: 40px;
    }
    
    img {
        height: 60px;
    }
    .navbar-collapse{
        justify-content: space-between;
        margin-right: 10%;
    }
}
.navLogo{
    height: 90px;
    width: 50px;
}
@media (max-width: 992px) {
    .navbar-nav .nav-link {
        padding-left: 20px;
    }
}