.product-discountedPrice {
    /* font-size: 14px;
    color: #282c3f;
    font-weight: 500;
    text-decoration: line-through; */
    text-decoration: line-through;
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}
.product-discountedPrice-product{
    text-decoration: line-through;
    color: #7e818c;
}
.product-price {
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
}
.product-discountPercentage {
    color: red;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}
.product-discountPercentage-product {
    color: red;
}
.product-placement {
    display: grid;
}
.product-grid{
    .my-3.p-3.rounded.card {
        height: 350px;
        .product-image{
            height: 210px; /* Can be anything */
            width: 210px; /* Can be anything */
            position: relative;
            img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .card-title{
            height: 48px;
        }
    }
    
}